#help_text {
	height: 50px;
}

#actual_values {
	padding: 0 0 0 160px;
}
.accvals_container .accvals_row {
	position: relative;
	padding: 4px 0;
}

.accvals_container .accvals_row .tools {
	position: absolute;
	right: 10px;
}

.accvals_row:hover {
	background-color: #e9e9e9;
}

.accvals_row .tools a {
	padding-right: 10px;
}

.accvals_row .tools input {
	margin-right: 10px;
}

.accvals_row .tools .check {
	margin-bottom: 3px;
}

.accvals_row .tools .radio {
	margin-top: 2px;
}

.icon_link {
	display:block;
	float:left;
	height:16px;
	width:16px;
	text-indent:-9999px;
}
.icon_edit {
	background:transparent url(../images/edit.png) no-repeat scroll left top;
}
.icon_add {
	background:transparent url(../images/add.png) no-repeat scroll left top;
}

.icon_del {
	background:transparent url(../images/del.png) no-repeat scroll left top;
}
