.form_table {
	width: 100%;
}

.form_table .field {
	width: 90%;
}

.form_table .field ul li {
	float: left;
	list-style-type: none;
	margin-right: 10px;
}

#flirt_text {
	width: 80%;
	height: 400px;
}
