html {
	height: 100%;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	height: 100%;
	font-size: .8em;
}

* html body {
	font-size: .53em;
}

#trim {
	height: 100%; /*IE*/
	border-left: 15px solid #D1E39B;
	border-right: 15px solid #D1E39B;
}

body>div#trim{
	height: auto; /*non-IE*/
	min-height: 100%; /*non-IE*/
}

#content_holder {
	position: relative;
	height: 1%; /*IE*/
}

#bluebar {
	clear: both;
	background-color: #009FDA;
	height: 18px;
	line-height: 18px;
}

/* CONTENT */

#menu {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px 5px;
	width: 179px;
	clear: both;
}

#content {
	border: 0px;
	border-left: 190px solid #FFFFFF;
	margin: 0px;
	padding: 10px 20px 0 10px;
	height: 1%; /*IE*/
}
