.mass_members {
	margin: 20px 0;
	border: 1px solid #bbb;
	padding: 10px;
	padding-top: 5px;
}

	.mass_members h3 {
		margin-bottom: 15px;
	}

dl.member_details {
 	border-bottom: 1px dashed #CCC;
 	margin-bottom: 1em;
 	padding-bottom: .5em;
}

* html dl.member_details {
	height: 1%;
}

dl.member_details dt,dl.member_details dd {
	float: left;
}

dl.member_details dd {
	margin-left: 10px;
	width: 600px;
}

dl.member_details dd.actions {
	float: none;
	clear: both;
	margin-left: 0;
}

dl.member_details .user_photo {
	float: left;
 	margin-right: 3px;
}

dl.member_details dd p {
	padding-left: 10px;
}

dl.member_details dd.actions li {
	display: inline;
	border-left: 1px solid #ccc;
	padding: 1px 5px;
}

dl.member_details dd.actions li.first {
	border-left: none;
}
