#reject_reason {
	width: 80%;
	white-space: nowrap;
	overflow: scroll;
}

#reason_title {
	width: 35em;
}

#reject_table .field {
	width: 90%;
}

#save_tpl {
	margin-left: 50%;
	text-align: right;
}

