.module_content {
	border: 1px solid #CCC;
	margin-bottom: 1em;
}

.module_content a.header {
	display: block;
	color: #666;
	padding: 0px 5px 0px 50px;
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	height: 1.5em;
}

.module_content label {
	font-weight: normal;
}

.module_content .config_diz {
	width: 60%;
	float: left;
}

.module_content .field {
	width: 40%;
	float: right;
}

.module_content li {
	clear: both;
	padding: .2em;
	margin-bottom: 1em;
}

.module_content li:hover {
	background-color: #E5F8FE;
}

div.shown_options ul {
	display: block;
	visibility: visible;
}

div.hidden_options ul {
	display: none;
	visibility: hidden;
}

.hidden_options a.header {
	background: #E5F8FE url(../images/plus.gif) no-repeat left center;
}

.shown_options a.header {
	background: #E5F8FE url(../images/minus.gif) no-repeat left center;
}
