dl.blog_details {
 	border-bottom: 1px dashed #CCC;
 	margin-bottom: 1em;
 	padding-bottom: .5em;
}

* html dl.blog_details {
	height: 1%;
}

dl.blog_details dd {
	float: left;
}

dl.blog_details dd.actions {
	float: none;
	clear: both;
	padding-top: 5px;
}

	dl.blog_details .user_photo {
		float: left;
		margin-right: 3px;
	}

	dl.blog_details dd p {
		padding-left: 10px;
	}

	dl.blog_details dd.actions li {
		display: inline;
		border-left: 1px solid #ccc;
		padding: 1px 5px;
	}

	dl.blog_details dd.actions li.first {
		border-left: none;
	}
