#profile_menu {
	width: 200px;
	position: absolute;
	top:10px;
	left:195px;
}
	#profile_menu li.controls {
		background: none;
		padding-left: 0;
		margin-top: 20px;
	}

.profile_cat {
	padding-bottom: 10px;
}

.profile_cat h3 {
	padding-left: 0;
	padding-bottom: 5px;
	margin-bottom: 5px;
	color: #009FDA;
	border-bottom: 1px dashed #ccc;
	font-weight: bold;
}

.profile_cat dt,.profile_cat dd {
	float: left;
}

.profile_cat dt {
	width: 150px;
}

.profile_cat dl {
	overflow: hidden;
	padding: 5px;
}

* html .profile_cat dl {
	height: 1%;
}

.profile_cat textarea {
	width: 500px;
	height: 200px;
}
