#bb_tools {
	width: 120px;
	height: 28px;
	margin: 15px 0 10px;
}

#bb_tools a {
	float: left;
	height: 28px;
	width: 28px;
	background-position: top left;
	background-repeat: no-repeat;
	text-indent: -9999px;
}

#bb_tools a:hover {
	background-position: bottom center;
}

#bb_tools a#bold {
	background-image: url('../images/bbcode_bold.gif');
}

#bb_tools a#underline {
	background-image: url('../images/bbcode_underline.gif');
}

#bb_tools a#hyperlink {
	background-image: url('../images/bbcode_hyperlink.gif');
}

#bb_tools a#quote {
	background-image: url('../images/bbcode_quote.gif');
}

