#loading_warning {
	float: right;
	display: none;
	background: #a00;
	color: #fff;
	font-size: .8em;
	padding: 5px;
}

.file_browser {
	position: relative;
}

.folder {
	background: url('../images/folder_closed.gif') no-repeat left center;
	padding-left: 20px;
}

.file {
	background: url('../images/file.gif') no-repeat left center;
	padding-left: 20px;
}

.file_php {
	background: url('../images/file.gif') no-repeat left center;
	padding-left: 20px;
}

.file_html {
	background: url('../images/file.gif') no-repeat left center;
	padding-left: 20px;
}

.file_img {
	background: url('../images/file.gif') no-repeat left center;
	padding-left: 20px;
}

.file_img a img {
	width: 0px;
	position: fixed;
	top: 100px;
	right: 100px;
	max-width: 200px;
}

.file_img a:hover img {
	width: auto;
	display: block;
}

