#profile_menu {
	width: 200px;
	float: left;
	margin-right: 10px;
}

#profile {
	width: 100%;
}

#search_nav {
	margin-bottom: 20px;
}

#profile_pic {
	float: left;
}

#member_actions {
	vertical-align: top;
	width: 25%;
}

#member_profile {
	vertical-align: top;
}

.edit_row {
	clear: both;
}

.edit_row .mainlabel {
	float: left;
	display: block;
	width: 10em;
	text-align: right;
	margin-right: 3px;
}

#profile_menu li.controls {
	background: none;
	padding-left: 0;
	margin-top: 20px;
}
