img {
	border: none;
}

a {
	color: #009FDA;
	text-decoration: underline;
	cursor: pointer;
}

a:hover {
	color: #006699;
}

a img {
	text-decoration: none;
}

li {
	list-style: none;
}

.clear {
	height: 1%; /*IE*/
	clear: both;
	line-height:1px;
}

#content h2 {
	color: #009FDA;
	margin: 10px 0;
}

#content h3 {
	color: #009FDA;
	margin: 5px 0;
}

/* ***** FORMS ***** */

input.text, textarea {
	margin: 1px 0px;
	border: 1px solid #555;
}

input.checkbox {
	vertical-align: middle;
}

* html input.checkbox {
	margin: 0px -4px; /*IE*/
}

option {
	padding-right: 10px;
}

label, .label {
	color: #555;
	font-weight: bold;
	cursor: pointer;
}

label.checkbox, label.select, label.inline {
	display: inline;
}

label.checkbox {
	font-weight: normal;
}


/* ***** CLASSES: SEMANTIC ***** */

.error {
	font-weight: bold;
	color: red;
}

.hr {
	border-bottom: 1px solid #ccc;
}

.bar {
	clear: both;
	margin: 5px 0;
	padding: 7px 18px;
	line-height: 110%;
}

.bar a {
	font-weight: normal;
}

.bar strong {
	padding-right: 4px;
	color: #000;
}

.bar span {
	color: #555;
}

#bar_btm {
	background-color: #ccc;
}


/* WIDGETS */

.menu_box {
	background-color: #ECFBC2;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border: 1px solid #A6CE39;
}

#menu .menu_box h3, #content .menu_box h3 {
	background-color: #A6CE39;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	font-weight: bold;
	margin: 0;
}

.menu_box .box_content {
	padding-left: 5px;
}

.menu_box .box_content li {
	padding: 2px 0 2px 10px;
	background: url('../images/bullet.gif') no-repeat center left;
}


/* OTHER STUFF */

.content_submenu li {
	float: left;
	border: 1px solid #9EE4FE;
	background: #fff;
	border-bottom: none;
	padding: 5px;
	margin-right: 5px;
	font-weight: bold;
	color: #009FDA;
}

.content_submenu li a {
	text-decoration: none;
	font-weight: bold;
}

.content_submenu li.active {
	background: #9EE4FE;
}

.hint {
	clear: both;
	float: none;
	padding: 6px 12px;
	background-color: #9EE4FE;
	margin-bottom: 10px;
	height: 1%; /*IE*/
	line-height: 100%;
}


.hint strong,.hint_popup strong {
	color: #555;
}

.hint_popup {
	clear: both;
	padding: 6px 12px;
	background-color: #9EE4FE;
	margin-bottom: 10px;
}


/* RESULTS TABLES */

.results_table {
	border: 1px solid #CCC;
	font-size: 90%;
	margin-bottom: 10px;
	width: 100%;
}

.results_table th {
	font-size: 110%;
	background-color: #E5F8FE;
	color: #555;
	font-weight: bold;
	padding: 5px 2px 5px 5px;
}

.results_table td {
	padding: 5px 2px 5px 5px;
	border-bottom: 1px dashed #ccc;
	text-align: left;
}

.results_table tr:hover {
	background-color: #E5F8FE;
}


/* ADD/EDIT FORM TABLES */

.form_table {
	margin-bottom: 10px;
}

.form_table td {
	padding-bottom: 5px;
}

.form_table .label {
	width: 15%;
	text-align: right;
	padding-right: 5px;
	vertical-align: top;
	font-weight: normal;
}

.form_table .label label, .form_table .field label {
	font-weight: normal;
}

.form_table .field {
	width: 50%;
	vertical-align: top;
}

.form_table .field ul {
	padding-left: 12px;
}

.form_table .field li {
	list-style-type: disc;
}

.form_table .field li:hover {
	background: #eee;
}

.form_table .comment {
	color: #999;
	padding-left: 5px;
	font-size: 90%;
	vertical-align: top;
	width: 35%;
}

.red_border {
	border: 1px solid #F00;
}

.smart_table {

}

.smart_table td {
	padding-right: 10px;
}

#full_width {
	width: 99%;
}

.thumb1 {
	margin: 0 10px 10px 0;
}

.alert_ppending {
	font-weight: bold;
	color: #f00;
}

.alert_pedit {
	color: #FED66C;
}

.alert_papproved {
	color: #A6CE39;
}

/* ******* PAGER ******* */

.pager {
	margin: 5px 0;
}

.pager li {
	float: left;
	border: 1px solid #DEDEDE;
}

.pager li a {
	text-decoration: none;
	font-weight: bold;
	padding: 2px 5px;
}

.pager li a:hover {
	text-decoration: underline;
}

.pager li.text, .pager li.goto_previous, .pager li.goto_next, .pager li.goto_first, .pager li.goto_last, .pager li.rpp, .pager li.dots, .pager li.current_page {
	border: none;
}

ul.pager li.current_page, ul.pager li.dots {
	color: #000;
	font-weight: bold;
	padding: 0 10px;
}

.pager li.rpp {
	float: right;
	border: none;
}

.pager li.last {
	float:none;
	clear:both;
	border: none;
}



/* ******* ERROR / INFO MESSAGES ******* */

#message_wrapper {
	text-align: center;
	font-weight: bold;
}

.message_error {
	background: #FFF1EB url('../images/warning.gif') no-repeat left center;
	border: 1px solid #F54100;
	padding: 20px 5px 20px 25px;
	color: #d00;
}

.message_info {
	background: #EFFEF1 url('../images/ok.gif') no-repeat left center;
	border: 1px solid #00AE14;
	padding: 20px 5px 20px 25px;
	color: #00AE14;
}

.message_error_small {
	background: #FFF1EB;
	border: 1px solid #F54100;
	padding: 10px 5px 10px 5px;
	margin: 5px 0px 5px 0px;
	color: #d00;
}

.message_info_small {
	background: #EFFEF1;
	border: 1px solid #00AE14;
	padding: 10px 5px 10px 5px;
	color: #00AE14;
}


/* ******* CLASS MODIFIERS ******* */

#skin_addedit .field {
	width: 10%;
}

#lang_addedit .field {
	width: 10%;
}

.close {
	background: url('../images/del.gif') no-repeat left center;
	padding-left: 20px;
}
.add {
	background: url('../images/add.gif') no-repeat left center;
	padding-left: 20px;
}
.back {
	background: url('../images/left.gif') no-repeat left center;
	padding-left: 20px;
}
.next {
	background: url('../images/right.gif') no-repeat left center;
	padding-left: 20px;
}

.fullwidth {
	width: 100%;
}

a#upper_help {
	display: block;
	float: right;
	text-indent: -9999px;
	width: 16px;
	height: 16px;
	margin-top: 5px;
	background: url('../images/help_topics.gif') no-repeat top left;
}

a#upper_help:hover {
	background-position: bottom left;
}

#rate_addedit .field {
	width: 20%;
}

.visible {
	visibility: visible;
}

.invisible {
	display: none;
	visibility: hidden;
}

#photo_search {
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 1px dashed #CCC;
	clear: both;
}

#photo_search fieldset,#blog_search fieldset {
	border: none;
}

#photo_submenu,#blog_submenu {
	float: left;
	width: 200px;
	clear: both;
}

h3 {
	font-size: 1em;
	color: #A6CE39;
}

.category label {
	font-size: .8em;
}


/* TABLELESS ITEM LISTS */

* html .row {
	height: 1%;
}

.row {
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
	font-size: 90%;
}

.row div {
	border-left: 1px solid #DEDEDE;
	float: left;
	padding: 5px 2px 5px 5px;
	overflow: hidden;
}

.header {
	background-color: #E5F8FE;
	color: #555;
	font-size: 100%;
	font-weight: bold;
	text-align: center;
}


.no_results {
	font-size: 110%;
	padding: 10px 0;
	text-align: center;
}

a.item_add {
	background: url('../images/add.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
	text-indent: -9999px;
}

a.item_del {
	background: url('../images/del.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	text-indent: -9999px;
	margin-right: 15px;
}

a.item_edit {
	background: url('../images/edit.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	text-indent: -9999px;
}

a.item_moveup {
	background: url('../images/up.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	text-indent: -9999px;
}

a.item_movedown {
	background: url('../images/down.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
	float: right;
	text-indent: -9999px;
}

a.item_approve {
	background: url('../images/approve.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	text-indent: -9999px;
	margin-left: 15px;
}

a.item_reject {
	background: url('../images/reject.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
	float: left;
	text-indent: -9999px;
	margin-left: 15px;
}

#bottom_links {
	margin-top: 20px;
}
