#footer {
	clear: both;
	margin: 0px 20px;
	padding: 10px 0px;
	text-align: center;
}

#footer a {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#copyright {
	margin-top: 10px;
	font-size: 60%;
	color: #666;
}

#m_reserved {
	display: none;
	visibility: hidden;
}
