ul#litems li {
	clear: both;
	border-bottom: 1px solid #ccc;
	height: 20px;
	font-size: 90%;
}

ul#litems li ul.litem_tools {
	float: right;
	width: 120px;
	padding: 0;
	margin-top: 2px;
}

ul#litems li ul.litem_tools li {
	padding: 0 4px;
	margin: 0;
	width: 16px;
	float: left;
	clear: none;
	border: none;
	list-style-type: none;
}

a.item_add {
	background: url('../images/add.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
}
a.item_del {
	background: url('../images/del.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
}
a.item_edit {
	background: url('../images/edit.gif') no-repeat top left;
	display: block;
	width: 16px;
	height: 16px;
}

a.item_edit i, a.item_del i, a.item_add i {
	display: none;
}
