.row .control {
	width: 40px;
	padding-right: 5px;
	border-left: none;
}

.row .plabel {
	width: 120px;
}

.row .html_type {
	width: 80px;
}

.row .searchable {
	width: 84px;
	text-align: center;
}

.row .at_reg {
	width: 66px;
	text-align: center;
}

.row .required {
	width: 70px;
	text-align: center;
}

.row .pcat {
	width: 84px;
}

.row .accvals {
	width: 350px;
}

.row .order {
	width: 38px;
}

#bottom_links form {
	display: inline;
	margin: 0;
}


