/* ***** GENERAL RULES ***** */

* {
	margin: 0px;
	padding: 0px;
}

body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

img {
	border: none;
}

a {
	color: #009FDA; /*simplyblue*/
	text-decoration: underline;
	cursor: pointer;
}

a:visited {

}

a:hover {
	color: #006699;
}

a img {
	text-decoration: none;
}

.clear {
	height: 1%; /*IE*/
	clear: both;
	line-height:1px;
}

/* ***** TRIM ***** */

html, body {
	height: 100%;
}

#trim {
	height: 100%; /*IE*/
	border-left: 36px solid #D1E39B;
	border-right: 36px solid #D1E39B;
}

body>div#trim{
	height: auto; /*non-IE*/
	min-height: 100%; /*non-IE*/
}

/* ***** ELEMENTS ***** */

h1, h2, h3, h4, h5, h6 {
	text-transform: lowercase;
	color: #666;
}

h1 {
	margin: 16px 0px;
	font-size: 150%;
	line-height: 150%;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
}

h2, h3, h4, h5, h6, p {
	line-height: 150%;
}

h2 {
	font-size: 100%;
}

h3 {
	font-size: 80%;
}

h4 {
	font-size: 75%;
}

h5 {
	font-size: 70%;
}

h6 {
	font-size: 60%;
}

p, ul, ol, dl {
	font-size: 80%;
	color: #666;
}

li {
	list-style: none;
}


/* ***** BASE LAYOUT ELEMENTS ***** */

/* HEADER */

#header {
	clear: both;
	margin: 0px;
	padding: 0px;
}

#logo {
	float: left;
}

#logo h1 {
	color: #009FDA;
	display: inline;
	font-weight: bold;
}

#logout {
	float: right;
	top: 0;
	font-size: 70%;
}

/* BLUE BAR */

#bluebar {
	clear: both;
	background-color: #009FDA;
	height: 18px;
	line-height: 18px;
}

/* CONTENT */

#fpcontent {
	position: relative;
	height: 1%; /*IE*/
}

#menu {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 10px 5px;
	width: 179px;
	clear: both;
}

#content {
	border: 0px;
	border-left: 190px solid #FFFFFF;
	margin: 0px;
	padding-top: 10px;
	padding-left: 41px;
	padding-right: 38px;
	height: 1%; /*IE*/
}

#content h1 {
	font-size: 1.5em;
	color: #009FDA;
	line-height: 1.5em;
	text-transform: none;
	margin-top: 0px;
}



/* FOOTER */

#footer {
	clear: both;
	margin: 0px 20px;
	padding: 10px 0px;
	text-align: center;
}

#footer a {
	text-decoration: none;
}

#footer a:hover {
	text-decoration: underline;
}

#c_disclaimer {
	margin-top: 10px;
	font-size: 60%;
}

#c_disclaimer * {
	color: #666;
}

#c_disclaimer span {
	margin: 0px 10px;
}

#m_reserved {
	display: none;
	visibility: hidden;
}


/* ***** FORMS ***** */

input.text, textarea {
	margin: 1px 0px;
	border: 1px solid #666;
}

input.button {
	padding: 1px;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

input.checkbox {
	vertical-align: middle;
}

* html input.checkbox {
	margin: 0px -4px; /*IE*/
}

option {
	padding-right: 10px;
}

label, .label {
	color: #666;
	font-weight: bold;
	cursor: pointer;
}

label.checkbox, label.select, label.inline {
	display: inline;
}

label.checkbox {
	font-weight: normal;
}


/* ***** CLASSES: SEMANTIC ***** */

.error {
	font-weight: bold;
	color: red;
}

.hr {
	border-bottom: 1px solid #ccc; /*border*/
}

.bar {
	clear: both;
	margin: 2px -18px;
	padding: 7px 18px;
	font-size: 70%;
	line-height: 110%;
}

.bar a {
	font-weight: normal;
}

.bar strong {
	padding-right: 4px;
	color: #000;
}

.bar span {
	color: #666;
}


#c_bar-btm {
	background-color: #ccc; /*border*/
}

.nav {
	font-size: 80%;
	line-height: 150%;
	color: #ccc; /*border*/
}

.nav span, .nav a {
	font-size: 85%;
	font-weight: bold;
}

/* WIDGETS */

.menu_widget {
	background-color: #ECFBC2;
	margin-bottom: 5px;
	padding-bottom: 5px;
	border: 1px solid #A6CE39;
	border-top: none;
}

.menu_widget h4 {
	background-color: #A6CE39;
	color: #fff;
	text-align: center;
	height: 30px;
}

.menu_widget .box li {
	padding-left: 5px;
}

#m_members h4 {
	background: #A6CE39 url('../images/pplgroup1.gif') no-repeat left center;
	text-indent: 12px;
}


/* OTHER STUFF */

.content_submenu {
	margin-bottom: 15px;
}

.content_submenu li {
	display: inline;
}

.content_submenu ul {
	display: inline;
}

.results_table {
	border: 1px solid #CCC;
	font-size: 75%;
	margin: auto;
	margin-bottom: 10px;
	width: 100%;
}

.results_table th {
	background-color: #E5F8FE;
	color: #666;
	text-align: center;
	padding: 0px 5px 0px 5px;
}

.results_table .no_result_item {
	text-align: center;
	padding-top: 5px;
}

.results_table td {
	padding-bottom: 5px;
}

.results_table tr:hover {
	background-color: #E5F8FE;
}

#bottom_links {
	margin: auto;
}

#bottom_links a {
	font-size: 80%;
}

#bottom_links p {
	font-size: 100%;
}

#bottom_links form {
	display: inline;
	margin: 0;
}

#bottom_links span {
	padding-right: 50px;
}

#bottom_links .center {
	text-align: center;
}

.hint {
	clear: both;
	padding: 6px 12px;
	background-color: #9EE4FE;
	margin-bottom: 10px;
}

.hint {
	height: 1%; /*IE*/
	font-size: 80%;
	line-height: 100%;
}

.hint_popup {
	clear: both;
	padding: 6px 12px;
	background-color: #9EE4FE;
	margin-bottom: 10px;
	font-size: 80%;
}

.hint strong,.hint_popup strong {
	color: #666;
}

.form_table {
	font-size: 75%;
	margin-bottom: 10px;
}

.form_table td {
	padding-bottom: 5px;
}

.form_table .label {
	width: 15%;
	text-align: right;
	padding-right: 5px;
	vertical-align: top;
}

.form_table .field {
	width: 50%;
	vertical-align: top;
}

.form_table .field ul {
	padding-left: 12px;
}

.form_table .field li {
	list-style-type: disc;
}

.form_table .field li:hover {
	background: #EEEEEE;
}

.form_table .comment {
	color: #999;
	padding-left: 5px;
	font-size: 88%;
	vertical-align: top;
	width: 35%;
}

.red_border {
	border: 1px solid #F00;
}

.visible {
	visibility: visible;
}

.invisible {
	display: none;
	visibility: hidden;
}


.smart_table {

}

.smart_table td {
	padding-right: 10px;
}

#full_width {
	width: 99%;
}

.user_photo {
	border: 1px solid #CCC;
}

.member_details {
 	border-bottom: 1px dashed #CCC;
 	margin-bottom: 1em;
}

.member_details .user_photo {
	float: left;
 	margin-right: 3px;
}

.member_details .actions {
	clear: both;
}

.member_details .actions li {
	display: inline;
}

.alert_ppending {
	font-weight: bold;
	color: #f00;
}

.alert_pedit {
	color: #FED66C;
}

.alert_papproved {
	color: #A6CE39;
}

/* ******* THE PAGERS ******* */

.pager {
	width: 100%;
	font-size: 70%;
}

.pager .pager_right {
	text-align: right;
}

.pager form {
	margin: 0px;
}

.pager_goto_first, .pager_goto_last {
	text-decoration: none;
}

.pager_goto_first:hover, .pager_goto_last:hover {
	text-decoration: underline;
	font-weight: bold;
}


/* ******* ERROR / INFO MESSAGES ******* */

#message_wrapper {
	text-align: center;
	font-weight: bold;
	font-size: 80%;
}

.message_error {
	background: #FFF1EB url('../images/warning.gif') no-repeat left center;
	border: 1px solid #F54100;
	padding: 20px 5px 20px 25px;
	color: #d00;
}

.message_info {
	background: #EFFEF1 url('../images/ok.gif') no-repeat left center;
	border: 1px solid #00AE14;
	padding: 20px 5px 20px 25px;
	color: #00AE14;
}

.message_error_small {
	background: #FFF1EB;
	border: 1px solid #F54100;
	padding: 10px 5px 10px 5px;
	margin: 5px 0px 5px 0px;
	color: #d00;
}

.message_info_small {
	background: #EFFEF1;
	border: 1px solid #00AE14;
	padding: 10px 5px 10px 5px;
	color: #00AE14;
}


/* ******* CLASS MODIFIERS ******* */

#skin_addedit .field {
	width: 10%;
}

#lang_addedit .field {
	width: 10%;
}

.close {
	background: url('../images/del.gif') no-repeat left center;
	padding-left: 20px;
}
.add {
	background: url('../images/add.gif') no-repeat left center;
	padding-left: 20px;
}
.back {
	background: url('../images/left.gif') no-repeat left center;
	padding-left: 20px;
}
.next {
	background: url('../images/right.gif') no-repeat left center;
	padding-left: 20px;
}

.fullwidth {
	width: 100%;
}

#rate_addedit .field {
	width: 20%;
}

.visible {
	visibility: visible;
}

.invisible {
	display: none;
	visibility: hidden;
}

#search_members,#search_photos {
	padding-bottom: 1em;
	margin-bottom: 2em;
	border-bottom: 1px dashed #CCC;
	clear: both;
}

#search_members fieldset,#search_photos fieldset,#search_blogs fieldset {
	border: none;
}

#member_submenu,#photo_submenu,#blog_submenu {
	float: left;
	width: 200px;
	clear: both;
}

/* PAGER */

.pager {
	padding: 0px;
	margin: 0px;
}

ul.pager li {
	padding: 2px;
	width: 1.7em;
	text-align: center;
	display: inline;
}

.pager a {
	border: 1px solid #DDD;
	text-decoration: none;
	padding: 2px 6px;
}

.pager a:hover {
  	color: #FFF;
  	background-color: #2687FD;
}

.pager .pager_goto_first a, .pager .pager_goto_last a {
	border: none;
	font-weight: bold;
	padding: 0px;
}

.pager .pager_goto_first a {
	margin-right: 5px;
}

.pager .current_page {
	color: #E97E00;
	font-weight: bold;
	border: none;
}

h3 {
	font-size: 1em;
	color: #A6CE39;
}

.category label {
	font-size: .8em;
}

li.folder {
	background: url('../images/folder_closed.gif') no-repeat left center;
	padding-left: 20px;
}

li.file, li.file_php, li.file_html {
	background: url('../images/file.gif') no-repeat left center;
	padding-left: 20px;
}

/* subscriptions_addedit.php */

#subscr_addedit .label {
	width: 30%;
}

#subscr_addedit .field {
	width: 30%;
}

#subscr_addedit .comment {
	width: 40%;
}

/* site_options.php */
.module_content {
	border: 1px solid #CCC;
	margin-bottom: 1em;
}

.module_content a.header {
	display: block;
	color: #666;
	padding: 0px 5px 0px 50px;
	font-size: 90%;
	font-weight: bold;
	text-decoration: none;
	height: 1.5em;
}

.module_content label {
	font-weight: normal;
}

.module_content .config_diz {
	width: 60%;
	float: left;
}

.module_content .field {
	width: 40%;
	float: right;
}

.module_content li {
	clear: both;
	padding: .2em;
	margin-bottom: 1em;
}

.module_content li:hover {
	background-color: #E5F8FE;
}

div.shown_options ul {
	display: block;
	visibility: visible;
}

div.hidden_options ul {
	display: none;
	visibility: hidden;
}

.hidden_options a.header {
	background: #E5F8FE url(../images/plus.gif) no-repeat left center;
}

.shown_options a.header {
	background: #E5F8FE url(../images/minus.gif) no-repeat left center;
}

/* auto_subscriptions_addedit.php */

#asubscr_addedit .field {
	width: 50%;
}

/* file_edit.php */

#file_content {
	width: 100%;
	white-space: nowrap;
	overflow: scroll;
}


/* reject.php */

#reject_reason {
	width: 100%;
	white-space: nowrap;
	overflow: scroll;
}

#reason_title {
	width: 35em;
}

#reject_table .field {
	width: 90%;
}

#save_tpl {
	margin-left: 50%;
	text-align: right;
}

/* profile.php */

#profile {
	width: 100%;
}

#profile_pic {
	float: left;
}

#member_actions {
	vertical-align: top;
	width: 25%;
}

#member_profile {
	vertical-align: top;
}

.edit_row {
	clear: both;
}

.edit_row .mainlabel {
	float: left;
	display: block;
	width: 10em;
	text-align: right;
	margin-right: 3px;
}

/* profile_fields_addedit.php */

ul#litems li {
	clear: both;
	border-bottom: 1px solid #ccc;
	height: 20px;
}

li span.litem_text {
	float: left;
}

li span.litem_tools {
	float: right;
	z-index: 2;
}

/* flirts_addedit.php */

.rich_ta_wrapper {
	width: 70%;
	border: 2px solid #E1E7B8;
	background: #F8F8EC;
	margin-top: 5px;
}

	.rich_ta_wrapper .bb_tools {
		display: block;
		visibility: visible;
		margin: .5em 1em .5em 1em;
	}

	.bb_tools a {
		border: none;
		text-decoration: none;
	}

	.bb_tools a:hover {
		border: none;
		background: #DFDFAA;
		text-decoration: none;
	}

	.bb_tools a img {
		border: 1px solid #E1E7B8;
	}

	.rich_ta_wrapper input.text {
		width: 70%;
	}

	.rich_ta_wrapper textarea {
		width: 99%;
		margin: 0px;
		height: 20em;
		overflow: auto;
	}

	.rich_ta_wrapper .post_options {
		margin: .5em 1em .5em 1em;
	}

