#content_column1 {
	float: none;
}

.content_area h3 {
	padding-left: 0;
	margin-bottom: 10px;
}

legend {
	color: #3969A5;
}

#site_name, #baseurl, #basepath,#license_key {
	width: 100%;
}

