/* Primary navigation */

* html #primary-nav {
	bottom: -1px;
}
#primary-nav {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 750px;
	height: 30px;
	list-style-type: none;
}

#primary-nav li {
	float: left;
	margin-left: -1px;
}

#primary-nav a {
	display: block;
	height: 30px;
	background-position: bottom;
	text-decoration: none;
}

#primary-nav a span {
	display: block;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: #444;
	font-size: 14px;
	padding-top: 7px;
}

#primary-nav a.menu1 {
	width: 112px;
	background-image: url('../images/menu_bg1.gif');
}

#primary-nav a:hover {
	background-position: center;
}

#primary-nav li a:active, #primary-nav li.active a {
	background-position: top;
}

/* Logotype */

#logo-box {
	position: absolute;
	top: 16px;
	left: 0;
	width: 500px;
	height: 42px;
}

#logo-box a {
	font-size: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	padding: 13px 0 10px 54px;
	display: block;
	background: url('../images/logo.gif') no-repeat center left;
}



/* Login box */

#login-box {
	position: absolute;
	top: 12px;
	left: 625px;
	width: 299px;
	font-size: 11px;
}

#login-box fieldset {
	border: none;
}

* html #login-box input {
	padding: 2px 5px;
}
#login-box input {
	border: 0;
	background: none;
	background-position: top left;
	background-repeat: repeat-x;
	font-size: 12px;
	padding: 4px 5px 0;
}

* html #login-box #username {
	margin-bottom: 4px;
}
#login-box #username {
	width: 117px;
	height: 16px;
	margin-bottom: 7px;
	background-image: url('../images/input-user-bg.gif');
}

* html #login-box #password {
	margin-bottom: 4px;
}
#login-box #password {
	width: 107px;
	height: 16px;
	margin-bottom: 7px;
	background-image: url('../images/input-pass-bg.gif');
}

#login-box #login {
	padding: 0;
	vertical-align: top;
}
#login-box fieldset > #login {
	margin-bottom: 2px;
}


#login-box #logout {
	float: right;
	display: block;
	width: 56px;
	height: 20px;
	background-image: url('../images/btn-logout.gif');
	background-position: top;
	margin: 4px 5px 0;
	text-indent: -9999px;
}

#login-box #logout:hover {
	background-position: bottom;
}

#login-box span {
	color: #173459;
}

#login-box #lost-password {
	float: right;
}

#login-box #hello-message {
	float: right;
	margin-top: 6px;
	font-size: 14px;
}

#login-box a {
	color: #FFF;
	text-decoration: none;
}

#login-box a:hover, #login-box a:active {
	color: #FFF;
	text-decoration: underline;
}
