@import url('bbcode.css');

textarea#post_content {
	width: 100%;
	height: 240px;
}

#post_form .controls {
	padding-top: 15px;
	margin-top: 15px;
}

#post_form .controls p {
	float: right;
	width: 200px;
	margin: 0;
	text-align: right;
}

#title {
	width: 80%;
}
