/* Content areas */

.content_area {
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;
}
	.content_area h1, .content_area h2, .content_area h3 {
		padding: 15px 18px 0px 18px;
	}

		.content_area h2 a {
			font-weight: bold;
			text-decoration: none;
			color: #c57794;
		}
		.content_area h2 a:hover {
			text-decoration: underline;
		}

	.content_area .box_content {
		padding: 10px 18px;
	}

	.content_area .link_more {
		position: absolute;
		top: 0;
		right: 0;
		margin: 15px 18px;
		background: url('../images/link_more.gif') no-repeat top right;
		padding: 0 25px 6px 3px;
	}

	.content_area .link_more:hover {
		background-position: bottom right;
	}

.content_area.large {
	width: 742px;
	background: url('../images/lbox-middle.gif') repeat-y;
}
	.content_area.large h1, .content_area.large h2 {
		background: url('../images/lbox-top.gif') no-repeat top left;
	}
	.content_area.large .box_content {
		background: url('../images/lbox-bottom.gif') no-repeat bottom left;
	}

.content_area.medium {
	width: 706px;
	background: url('../images/mbox-middle.gif') repeat-y;
}
	.content_area.medium h2 {
		background-image: url('../images/mbox-top.gif');
		font-size: 14px;
		color: #3969A5;
	}
	.content_area.medium .box_content {
		background: url('../images/mbox-bottom.gif') no-repeat bottom left;
	}

.content_area.small {
	width: 206px;
	background: url('../images/sbox-middle.gif') repeat-y;
}
	.content_area.small h2, .small h3 {
		background: url('../images/sbox-top.gif') no-repeat top left;
	}
	.content_area.small h3 {
		padding: 15px 18px 0px 18px;
	}
	.content_area.small .box_content {
		background: url('../images/sbox-bottom.gif') no-repeat bottom left;
	}


/* INFO+ERROR MESSAGES */

#message_wrapper {
	margin-left: 18px;
	font-size: 13px;
	font-weight: bold;
	overflow: hidden;
}

.message_info {
	color: #4383d3;
}

.message_error {
	color: #fd617b;
}

	#message_wrapper .box_content {
		padding: 0 0 10px 20px;
	}

	.message_info .box_content .message_text {
		background: url('../images/symbol-success.gif') no-repeat top left;
		height: 30px;
		padding: 4px 0 0 40px;
	}

	.message_error .box_content .message_text {
		background: url('../images/symbol-error.gif') no-repeat top left;
		height: 30px;
		padding: 4px 0 0 40px;
	}


/* CONTENT COLUMNS */

#content_column1 {
	float: right;
	margin: 18px 0;
}

#content_column2 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 18px 0;
}


/* TYPE */

h1 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

strong {
	font-weight: bold;
}


/* LINKS */

.content-link {
	font-size: 11px;
	color: #c57794;
	padding: 0 3px 6px 25px;
	text-decoration: none;
	background-position: top left;
	background-repeat: no-repeat;
	font-weight: bold;
}
.content-link:hover {
	text-decoration: underline;
	background-position: bottom left;
}

a.simple {
	padding-left: 0px;
	background: none;
}

a.big {
	font-size: 15px;
	text-decoration: underline;
}
a.big:hover {
	color: #965C72;
}


/* ONLINE/OFFLINE ICON NEXT TO EVERY USER NAME */

.member_link {
	background: url('../images/member-offline-small.gif') no-repeat top left;
	padding: 0 3px 0 15px;
}
.member_link:hover {
	background-position: bottom left;
}

.is_online .member_link, .is_online.member_link {
	background: url('../images/member-online-small.gif') no-repeat top left;
	padding: 0 3px 0 15px;
}
.is_online .member_link:hover, .is_online.member_link:hover {
	background-position: bottom left;
}

.visible {
	visibility: visible;
}

.invisible {
	display: none;
	visibility: hidden;
}

/* SMART TABLE DEFAULT RULES */
* html .table_row {
	height: 1%;
}
.table_row {
	overflow: hidden;
}

.table_row li {
	float: left;
	width: 120px;
}


/* PAGER */

ul.pager {
	list-style-type: none;
}

ul.pager li {
	float: left;
	border-left: 1px solid #DEDEDE;
}

ul.pager li a {
	font-size: 11px;
	color: #c57794;
	text-decoration: none;
	font-weight: bold;
	padding: 2px 10px;
	text-indent: -9999px;
}
ul.pager li a:hover {
	text-decoration: underline;
}

ul.pager li.goto_previous a {
	display: block;
	width: 22px;
	height: 22px;
	padding: 0;
	background-image: url('../images/link_previous.gif');
}

ul.pager li.goto_next a {
	display: block;
	width: 22px;
	height: 22px;
	padding: 0;
	background-image: url('../images/link_next.gif');
}

ul.pager li.goto_first a {
	display: block;
	width: 22px;
	height: 22px;
	padding: 0;
	background-image: url('../images/link_first.gif');
}

ul.pager li.goto_last a {
	display: block;
	width: 22px;
	height: 22px;
	padding: 0;
	background-image: url('../images/link_last.gif');
}

	ul.pager li.goto_previous a:hover, ul.pager li.goto_next a:hover, ul.pager li.goto_first a:hover, ul.pager li.goto_last a:hover {
		background-position: left bottom;
	}

ul.pager li.goto_previous, ul.pager li.goto_next, ul.pager li.goto_first, ul.pager li.goto_last, ul.pager li.rpp, ul.pager li.first, ul.pager li.text {
	border: none;
	padding-left: 0;
}

ul.pager li.current_page, ul.pager li.dots {
	color: #000;
	font-weight: bold;
	padding: 0 10px;
}

ul.pager li.rpp {
	float: right;
}

.rpp select {
	font: 11px "Trebuchet MS", Arial, sans-serif;
}

ul.pager li.last {
	float:none;
	clear:both;
}


/* MENUS */

ul.menu {
	list-style-type: none;
}

ul.menu li {
	border-top: 1px dashed #ccc;
	height: 22px;
	width: 100%;
	padding: 6px 0 4px 0;
}

ul.menu li.first {
	border: none;
	padding-top: 0px;
}

.menu a {
	background-position: top left;
	background-repeat: no-repeat;
}

.menu a:hover {
	background-position: bottom left;
}

.content-link.link_profile {
	background-image: url('../images/link_profile.gif');
}

.content-link.link_bookmark {
	background-image: url('../images/link_bookmark.gif');
}

.content-link.link_flirt {
	background-image: url('../images/link_flirt.gif');
}

.content-link.link_block {
	background-image: url('../images/link_block.gif');
}

.content-link.link_report {
	background-image: url('../images/link_report.gif');
}

.content-link.link_photos {
	background-image: url('../images/link_photos.gif');
}

.content-link.link_folder {
	background-image: url('../images/link_folder.gif');
}

.content-link.link_mail {
	background-image: url('../images/link_message.gif');
}

.content-link.link_add {
	background-image: url('../images/link_add.gif');
}

.content-link.link_save {
	background-image: url('../images/link_save.gif');
}

.content-link.link_view {
	background-image: url('../images/link_view.gif');
}

.content-link.link_change {
	background-image: url('../images/link_change.gif');
}

.content-link.link_delete {
	background-image: url('../images/link_block.gif');
}

.content-link.link_add {
	background-image: url('../images/link_add.gif');
}

.content-link.link_previous {
	background-image: url('../images/link_previous.gif');
}

.content-link.link_next {
	background-image: url('../images/link_next.gif');
}

.content-link.link_search {
	background-image: url('../images/link_search.gif');
}

/* EDIT&SEARCH FORMS */

form.edit_form fieldset {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

form.edit_form fieldset legend {
	padding-bottom: 15px;
	font-size: 14px;
	font-weight: bold;
}

* html form.edit_form dl {
	height: 1%;
}

form.edit_form dl {
	overflow: hidden;
	padding: 0 0 10px 0;
}

	form.edit_form dt {
		float: left;
		width: 140px;
		font-size: 13px;
		padding: 0px 10px;
	}

	form.edit_form dl.required dt {
		font-size: 14px;
		color: #4383D3;
	}

	form.edit_form dd {
		float: left;
		width: 240px;
		padding: 0px;
	}

form.edit_form dd input, form.edit_form dd select, form.edit_form dd label {
	font: 12px "Trebuchet MS", Arial, sans-serif;
}

form.edit_form dd > .check {
	margin-bottom: 2px;
}

form.edit_form dd > .radio {
	margin-bottom: -3px;
}

* html form.edit_form dd .check, * html form.edit_form dd .radio {
	margin-left: -4px;
}

form.edit_form dd select {
	margin-right: 2px;
}

form.edit_form dd label {
	margin: 0 3px 0 1px;
}

form.edit_form dd textarea {
	width: 100%;
	height: 150px;
}

.field-help {
	font-size: 12px;
	color: #878787;
	margin-left: 10px;
}

form.edit_form dd.field-help {
	float: left;
	width: 290px;
}

form.edit_form dd.full-width {
	float: left;
	width: 546px;
}

form.edit_form .controls {
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#bottom_links {
	border-top: 1px dashed #ccc;
	padding-top: 15px;
	margin-top: 15px;
}


/* BBCODE CLASSES */

.underline {
	text-decoration: underline;
}

blockquote {
	border: 1px solid #ccc;
	background: #f5f5f5;
	margin: 5px 0px 5px 30px;
	padding: 5px;
}

.clear {
	height: 1%; /*IE*/
	clear: both;
	line-height:1px;
}


/* BUTTONS */
.button {
	background: no-repeat top left;
	height: 25px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	border: 0px;
	text-align: center;
	padding-right: 5px;
	padding-bottom: 7px;
}

* html .button {
	padding-right: 4px;
	padding-bottom: 5px;
	margin:0px;
}

.bsmall {
	background-image: url('../images/btn-blank-small.gif');
	width: 43px;
}

.bmedium {
	background-image: url('../images/btn-blank-medium.gif');
	width: 75px;
}

.blarge {
	background-image: url('../images/btn-blank-large.gif');
	width: 119px;
}

.bsmall:hover, .bmedium:hover, .blarge:hover {
	background-position: bottom;
}

/* IE hack: button hover */
.bsmall_hover, .bmedium_hover, .blarge_hover {
	background-position: bottom;
}


/* USER PHOTOS */

	.thumb0 {
		width: 60px;
		height: 60px;
	}

	.thumb1 {
		max-width: 100px;
		max-height: 100px;
	}

	* html .thumb1 {
		width: 100px;
		height: 100px;
	}

.comment {
	color: #878787;
}


/* Small user list used in widgets */

* html .list_small {
	margin-left: -6px;
	width: 720px;
	height: 1%;
}
.list_small {
	width: 720px;
	margin-left: -6px;
	padding: 0 0 5px;
	list-style-type: none;
	overflow: hidden;
}

	.list_small li {
		float: left;
		width: 110px;
		margin-left: 10px;
		text-align: center;
	}

	.list_small li.first {
		margin: 0;
		clear: both;
	}

	.list_small li p {
		display: none;
	}


/* Small blogs list for widgets */

* html .blogs_small {
	margin-left: -6px;
	width: 720px;
	height: 1%;
}
.blogs_small {
	width: 720px;
	margin-left: -6px;
	padding: 0 0 5px;
	list-style-type: none;
	overflow: hidden;
}

.blogs_small li {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 30px;
}

.blogs_small li.last {
	border-bottom: none;
}

.blogs_small .user_photo {
	float: left;
	margin: 0 10px 10px 0;
}

.blogs_small .blog-title {
	font-size: 13px;
	margin:0;
	padding:0;
}

.blogs_small strong {
	display: block;
	font-size: 11px;
}

.blogs_small p {
	margin: 10px 0;
}

