#content_column1.login {
	float: none;
}

#login_tease {
	padding: 5px 0px 0px 260px;
	font-size: 14px;
	float: right;
}

#login_tease ul {
	list-style-type: disc;
	margin-left: 25px;
}

#relogin {
	width: 300px;
}

* html #relogin dl {
	height: 1%;
}

#relogin dl {
	width: 300px;
	overflow: hidden;
	background-image: url('../images/profile-field-bg.gif') no-repeat bottom;
}

#relogin dt {
	float: left;
	width: 80px;
	font-size: 13px;
	padding: 5px 0 5px 10px;
}

#relogin dd {
	float: left;
	width: 200px;
	padding: 5px 0 5px;
}

#relogin dd input, #relogin dd select {
	font: 12px "Trebuchet MS", Arial, sans-serif;
	margin: -2px 0 0;
}

.controls a {
	margin-left: 10px;
}

#btn_login {
	float: left;
}
