a.upload-photos {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px 18px;
	background: url('../images/link-upload.gif') no-repeat top right;
	padding: 3px 35px 9px 3px;
	font-size: 13px;
}
a.upload-photos:hover {
	background-position: bottom right;
}

ul.gallery_row {
	margin: 10px 0px;
	padding-bottom: 15px;
	border-bottom: 1px dashed #ccc;
}

	ul.gallery_row li {
		margin-left: 10px;
		width: 225px;
		border-right: 1px dashed #ccc;
	}

	ul.gallery_row li.first {
		margin-top: 0;
		margin-left: 0;
	}

	ul.gallery_row li.last {
		border: none;
	}

	ul.gallery_row.last {
		border: none;
		margin-bottom: 0;
	}

* html .gallery_row li .caption {
	height: 1%;
}
.gallery_row li .caption {
	clear: left;
	padding: 0 5px 10px 0;
	overflow: hidden;
}

.gallery_row li img {
	float: left;
	margin: 0 10px 10px 0;
	display: block;
}

* html .gallery_row li .photo_details {
	height: 1%;
}
.gallery_row li .photo_details {
	clear: left;
	overflow: hidden;
	margin-right: 10px;
	border-top: 1px dashed #ccc;
	padding-top: 5px;
}

.gallery_row li .photo_details ul {
	list-style-type: none;
	margin: 5px 0;
	padding: 0;
}

.gallery_row li .photo_details ul li {
	margin: 0;
	width: 80px;
	height: 22px;
	border: none;
}

.gallery_row .plain {
	padding: 2px;
}

.gallery_row .change {
	background-image: url('../images/link-change.gif');
}
.gallery_row .change:hover {
	background-position: left bottom;
}

.gallery_row .delete {
	background-image: url('../images/link-delete.gif');
}
.gallery_row .delete:hover {
	background-position: left bottom;
}

/*pager*/

.pager {
	border-top: 1px dashed #ccc;
	padding: 10px 0;
}

