DirectoryIndex index.html index.php
Options -Indexes
php_flag session.use_cookies on
php_flag register_globals off
php_flag session.use_trans_sid off
php_value include_path "."
php_value error_reporting 2047
php_flag display_errors on

<IfModule mod_headers.c>
	# 1 YEAR
	<FilesMatch "\.(ico|pdf|flv)$">
	Header set Cache-Control "max-age=29030400, public"
	</FilesMatch>
	# 1 WEEK
	<FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
	Header set Cache-Control "max-age=604800, public"
	</FilesMatch>
	# 2 DAYS
	<FilesMatch "\.(xml|txt|css|js)$">
	Header set Cache-Control "max-age=172800, proxy-revalidate"
	</FilesMatch>
	# 1 MIN
	#<FilesMatch "\.(html|htm|php)$">
	#Header set Cache-Control "max-age=60, private, proxy-revalidate"
	#</FilesMatch>
</IfModule>
