@import url('content2.css');

#widg_new_blogs, #widg_views_blogs, #widg_comm_blogs {
	position: relative;
}

#widg_new_blogs h2, #widg_views_blogs h2, #widg_comm_blogs h2 {
	background: none;
	font-size: 14px;
	padding:0 0 20px 0;
}

#blog_search dl dt {
	float: left;
}

#blog_search dl dd {
	float: left;
	margin-left: 10px;
}

#blog_search {
	margin: 10px 0 30px 0;
}
