#subcategs,#article_summary {
	margin-left: 20px;
	padding: 10px;
	border: 1px dotted #ddd;
	margin-top: 10px;
	background: #E6F7D4;
}

#subcategs h4 ,#article_summary h4 {
	margin-bottom: 10px;
}

#subcategs ul {
	list-style-image: url('../images/bullet1.gif');
	margin-left: 30px;
}

#article_summary ul {
	list-style-image: url('../images/bullet2.gif');
	margin-left: 30px;
}

#article_summary ul.pager {
	margin-top: 20px;
	margin-left: 10px;
}

#content_column1 h3 a {
	color: #96821D;
}

#content_column1 h4 {
	margin-top: 0px;
}

ul.articles {
	list-style-image: url('../images/bullet1.gif');
	margin-left: 20px;
	margin-top: 20px;
}

ul.articles li {
	text-align: justify;
	padding-bottom: 20px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #ccc;
}

ul.articles li p {
	font-weight: bold;
}

#content_column1 p a.totop {
	float: right;
	font-size: 80%;
}
