#content_column1 {
	float: none;
}

.info_access .row {
	overflow: hidden;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}

.info_access .row div {
	float: left;
	margin: 3px 0;
	padding: 0 2px 0 8px;
	overflow: hidden;
}

.info_access .header {
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}

.info_access .price {
	width: 70px;
}

.info_access .subscr_diz {
	width: 450px;
}

.info_access .subscr_diz strong {
	display: block;
}
