/* Rounded boxes */

.rounded-box {
	position: relative;
	overflow: hidden;
	margin-bottom: 12px;
}
	.rounded-box h1, .rounded-box h2, .rounded-box h3 {
		padding: 15px 18px 0px 18px;
	}

	.rounded-box .box-content {
		padding: 15px 18px;
	}

	.rounded-box .link-more {
		position: absolute;
		top: 0;
		right: 0;
		margin: 15px 18px;
		background: url('../images/link-more-out.gif') no-repeat top right;
		padding: 0 25px 6px 3px;
	}

	.rounded-box .link-more:hover {
		background-image: url('../images/link-more-over.gif');
	}

.large {
	width: 742px;
	background: url('../images/lbox-middle.gif') repeat-y;
}
	.large h1, .large h2 {
		background: url('../images/lbox-top.gif') no-repeat left top;
	}
	.large .box-content {
		background: url('../images/lbox-bottom.gif') no-repeat left bottom;
	}

.medium {
	width: 706px;
	background: url('../images/mbox-middle.gif') repeat-y;
}
	.medium h2 {
		background-image: url('../images/mbox-top.gif');
	}
	.medium .box-content {
		background: url('../images/mbox-bottom.gif') no-repeat left bottom;
	}

.small {
	width: 206px;
	background: url('../images/sbox-middle.gif') repeat-y;
}
	.small h2, .small h3 {
		background: url('../images/sbox-top.gif') no-repeat left top;
	}

	.small h3 {
		padding: 15px 18px 0px 18px;
	}

	.small .box-content {
		background: url('../images/sbox-bottom.gif') no-repeat left bottom;
	}


/* Content columns */
#content_column1 {
	float: right;
	margin: 18px 0;
}

#content_column2 {
	position: absolute;
	top: 0;
	left: 0;
	margin: 18px 0;
}

/* Type */

h1 {
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}

h2 {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
}

h3 {
	font-size: 16px;
	font-weight: bold;
}

h4 {
	font-size: 14px;
	font-weight: bold;
}

strong {
	font-weight: bold;
}

/* Links */

.content-link {
	font-size: 11px;
	color: #c57794;
	padding: 0 3px 6px 25px;
	text-decoration: none;
	background-position: top left;
	background-repeat: no-repeat;
	font-weight: bold;
}
.content-link:hover {
	text-decoration: underline;
}

/* online/offline icon next to every user name */

.is_online .online_stat {
	background-image: url('../images/member-online-small-out.gif');
	padding: 0 3px 0 15px;
	background-position: top left;
}
.is_online .online_stat:hover {
	background-image: url('../images/member-online-small-over.gif');
}

.is_offline .online_stat {
	background-image: url('../images/member-offline-small-out.gif');
	padding: 0 3px 0 15px;
	background-position: top left;
}
.is_offline .online_stat:hover {
	background-image: url('../images/member-offline-small-over.gif');
}

.visible {
	visibility: visible;
}

.invisible {
	display: none;
	visibility: hidden;
}

.smart_table li {
	float: left;
	width: 100px;
}

.smart_table li.break {
	clear: left;
}
