/* Profile form */

#join_form fieldset {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

* html #join_form dl {
	height: 1%;
}

#join_form dl {
	overflow: hidden;
	padding: 0 0 10px 0;
}

	#join_form dt {
		float: left;
		width: 140px;
		font-size: 13px;
		padding: 0px 10px;
	}

	#join_form dl.required dt {
		font-size: 14px;
		color: #4383D3;
	}

	#join_form dd {
		float: left;
		width: 240px;
		padding: 0px;
	}

#join_form dd input, #join_form dd select, #join_form dd label {
	font: 12px "Trebuchet MS", Arial, sans-serif;
}

#join_form dd > .check {
	margin-bottom: 2px;
}

#join_form dd > .radio {
	margin-bottom: -3px;
}

* html #join_form dd .check, * html #join_form dd .radio {
	margin-left: -4px;
}

#join_form dd select {
	margin-right: 2px;
}

#join_form dd label {
	margin: 0 3px 0 1px;
}

#join_form dd.field-help {
	float: left;
	width: 290px;
	font-size: 12px;
	color: #878787;
	padding-left: 10px;
}

#join_form dd.full-width {
	float: left;
	width: 546px;
}


#join_form .controls {
	border: none;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

#join_form .controls p {
	width: 200px;
	float: right;
	margin: 0;
	text-align: right;
	font-size: 14px;
	color: #878787;
}

#join_form .controls p span {
	color: #4383D3;
}

.text {
	width: 100%;
}

#join-tease ul {
	padding-left: 20px;
}

#join-tease li {
	list-style-type: disc;
}