@import url(common.css);

.clear {
	height: 1%; /*IE*/
	clear: both;
	line-height:1px;
}


/* LAYOUT */

#trim {
	width: 82%;
	margin: auto;
	background: #fff;
	height: 99%; /*IE*/
	border-left: 4px solid #53584A;
	border-right: 4px solid #53584A;
	padding-top: 8px;
	font-size: 1.2em;
}

body>div#trim {
	height: auto; /*non-IE*/
	min-height: 99%; /*non-IE*/
}

#header {
	background: #fff url('../images/header-bg.png') repeat-x top left;
	height: 10em;
}


#content {

}

#footer {
	position: absolute;
	bottom: 0px;
}

/* -- content stuff -- */

#intro * {
	padding: 0px;
}

#intro a {
	border: none;
}

#intro {
	font-family: verdana;
	width: 604px;
	margin-bottom: 2em;
	padding-bottom: 5px;
	color: #61861f;
	background: #FFF3E6 url("../images/util_intro_bottom.gif") no-repeat bottom left;
	text-transform: lowercase;
	overflow: hidden;
	margin-left: 1em;
	float: left;
}

#intro div {
	position: relative;
	background: url("../images/util_intro_top.gif") no-repeat;
	height: 42px;
}

#intro h3 {
	padding: .66em 1em;
	font-size: 130%;
	color: #fff;
}

#intro ul {
	float: left;
	font-size: 93%;
	border-left: 1px solid #CD8021;
	border-right: 1px solid #CD8021;
}

#intro ul li {
	float: left;
	overflow: hidden;
}

#intro ul a {
	display: block;
	padding: 12px 66px 18px 16px;
	background: no-repeat 92% 50%;
	text-decoration: none;
}

#intro ul li a, #intro ul li a:hover {
	color: #473C28 !important;
}

#intro ul a.search {
	width: 115px;
	padding-right: 71px;
	background-image: url("../images/intro1.gif");
}

#intro ul a.upload {
	width: 104px;
	background-image: url("../images/intro2.jpg");
	border-left: 1px solid #CD8021;
}

#intro ul a.share {
	width: 130px;
	background-image: url("../images/intro3.jpg");
	border-left: 1px solid #CD8021;
}

#intro ul strong {
	display: block;
	font-size: 196%;
	font-weight: normal;
	color: #6CA300;
}

#intro ul li.more {
	position: relative;
	clear: both;
	width: 100%;
	min-height: 30px;
	font-size: 92%;
	border-top: 3px double #CD8021;
}

#intro ul li.more a {
	padding: 11px 157px 8px 16px;
}

#intro ul li.more strong {
	font-size: 100%;
	font-weight: bold;
}

#intro ul li.more .signup-now {
	display: block;
	position: absolute;
	top: 50%;
	right: 16px;
	width: 133px;
	height: 32px;
	margin-top: -14px;
	background: url("../images/btn_sign_up_now.gif") no-repeat top left;
	text-indent: -9999px;
	overflow: hidden;
	cursor: pointer;
}

#intro ul li.more a:hover {
	display: block !important;
	display: inline-block;
}

#intro ul li.more a:hover .signup-now {
	background-position: top right;
}

#search {
	float: left;
	margin-left: 1em;
}

#search span {
	display: block;
}

#search span label {
	float: left;
	width: 100px;
	text-align: right;
	padding-right: .5em;
}

.visible {
	visibility: visible;
}

.invisible {
	display: none;
	visibility: hidden;
}

#main_menu {
	clear:both;
}

.content_widget {
	border: 1px solid #A6DB15;
	margin-bottom: 1em;
	width: 640px;
}

.content_widget h3 {
	padding: 2px 10px;
	color: #E97E00;
	margin-bottom: 0px;
	border-bottom: 1px solid #A6DB15;
}

.content_widget .content {
	position: relative;
	padding: .5em;
}

.content_widget .bottom {
	text-align: right;
	border-top: 1px dotted #A6DB15;
}

.member_details_mini {
	float: left;
	text-align: center;
	width: 120px;
	position: relative;
}

.user_photo {
	border: 1px solid #CCC;
}

.link_bare {
	border: none;
}

.blog_mini {
	width: 640px;
}

.blog_mini .user_photo {
	float: left;
 	margin-right: 3px;
}
