@import url("common.css");

/* CLASSES */

h2 {
	margin: 0 0 1em 0;
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.6em;
	color: #E97E00;
}

h3 {
	margin: 0 0 1em 0;
	padding: 0;
	font-family: "Trebuchet MS", sans-serif;
	font-size: 1.3em;
	color: #6CA300;
}

h3 a {
	margin-left: 5px;
	font-size: 0.8em;
}

.cat_content {
}

.profile_cat {
	float: right;
	width: 50%;
}

.clear {
	height: 1%; /*IE*/
	clear: both;
	line-height:1px;
}


/* LAYOUT */

#trim {
	width: 90%;
	margin: auto;
	background: #fff url('../images/greenbar.gif') repeat-x top left;
	height: 99%; /*IE*/
	border-left: 4px solid #53584A;
	border-right: 4px solid #53584A;
	padding-top: 8px;
	font-size: 1.2em;
}

body>div#trim {
	height: auto; /*non-IE*/
	min-height: 99%; /*non-IE*/
}

#header {
	background: #fff url('../images/header-bg.png') repeat-x top left;
	height: 9em;
}

#content {
	position: relative;
	height: 1%; /*IE*/
	padding: 15px;
}

	#middle_column {
		margin-left: 200px;
		margin-right: 100px;
	}

	#left_column {
		position: absolute;
		top: 15px;
		left: 5px;
		width: 200px;
		clear: both;
		padding-right: 2px;
	}

	#right_column {
		position: absolute;
		top: 15px;
		right: 5px;
		width: 100px;
		border: 1px solid #00f;
	}

#footer {
	position: relative;
	bottom: 5px;
	margin-left: 20%;
	text-align: center;
}

/* end of layout */

#logo {
	margin-left: 1.5em;
}

#header h1 {
	position: relative;		/* ugly vertical align hack */
}

#header h1 a, #header h1 a:visited, #header h1 a:hover {
	text-decoration: none;
	text-transform: lowercase;
	font-family: Arial, Helvetica;
}

#sitename {
	position: absolute;		/* ugly vertical align hack */
	top: 1.2em;				/* ugly vertical align hack */
	padding-left: 0.3em;
	color: #888;
}

#sitename:hover {
	color: #666;
}

#footer span {
	margin: auto;
}

#footer_left {
	float: left;
}

#footer_right {
	position: relative;
	right: -10px;
}

#footer_right a {
	border: none;
}

#footer_right img {
	border: 1px solid #ddd;
}


/* PAGER */

/*
.pager {
	width: 100%;
}
*/

ul.pager li {
	padding: 2px;
	width: 1.7em;
	text-align: center;
	display: inline;
}

.pager .pager_goto_first a, .pager .pager_goto_last a {
	border: none;
	font-weight: bold;
}

.pager .pager_goto_first a {
	margin-right: 15px;
}

.pager a {
	border: 1px solid #DDD;
	text-decoration: none;
	padding: 2px 6px;
}

.pager a:hover {
  	color: #FFF;
  	background-color: #2687FD;
}

.pager .current_page {
	color: #E97E00;
	font-weight: bold;
	border: none;
}

/* MENUS, WIDGETS, CONTENT BOXES */

.menu_widget {
	background: #F8F8EC url(../images/menu_bg.gif) repeat-y left top;
	margin-bottom: 1em;
}

.menu_widget h3 {
	padding: 2px 10px;
	color: #E97E00;
	background: url(../images/menu_top.gif) no-repeat left top;
	margin-bottom: 0px;
}

.menu_widget .content {
	color: #403624;
	padding: 5px 10px;
	background: url(../images/menu_bottom.gif) no-repeat left bottom;
}

.menu_widget .footer {
	text-align: right;
}

.content_widget {
	border: 1px solid #A6DB15;
	margin-bottom: 1em;
}

.content_widget h3 {
	padding: 2px 10px;
	color: #E97E00;
	margin-bottom: 0px;
	border-bottom: 1px solid #A6DB15;
}

.content_widget .content {
	position: relative;
	padding: .5em;
}

.content_widget .bottom {
	text-align: right;
	border-top: 1px dotted #A6DB15;
}

.member_details_mini {
	float: left;
	text-align: center;
	width: 120px;
	position: relative;
}

.member_details_list {
	border-bottom: 1px dotted #CCC;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.member_details_list img {
	float: left;
	margin-right: 3px;
}

/* ******* ERROR / INFO MESSAGES ******* */

.message_error {
	background: #FFF1EB url('../images/warning.gif') no-repeat left center;
	border: 1px solid #F54100;
	padding: 20px 5px 20px 5px;
	color: #d00;
}

.message_info {
	background: #EFFEF1 url('../images/ok.gif') no-repeat left center;
	border: 1px solid #00AE14;
	padding: 20px 5px 20px 5px;
	color: #00AE14;
}

#message_wrapper {
	text-align: center;
	font-weight: bold;
	width: 70%;
	margin: auto;
}

/* */

.smart_table, .smart_table td {
	border: none;
	margin: 0px;
	padding: 0px;
}

.smart_table label {
	padding-left: 2px;
}

.form_table .label {
	text-align: right;
	vertical-align: top;
}

.new_row {
	padding-bottom: 3px;
	background: #F8F8F8;
	border-bottom: 1px solid #E8E8E8;
}

	.new_row .label {
		width: 22%;
		float: left;
		text-align: right;
	}

	.new_row .wrapper {
		float: right;
		width: 77%;
	}

		.wrapper .field {
			width: 30%;
			float: left;
		}

		.wrapper .comment {
			width: 69%;
			float: right;
			color: #858585;
		}

		.wrapper .field input.text {
			width: 90%;
		}

		.wrapper .field img {
			border: 1px solid #000;
		}

.red_border {
	border: 1px solid #F00;
}

.bb_tools {
	display: none;
	visibility: hidden;
}

.rich_ta_wrapper {
	width: 70%;
	border: 2px solid #E1E7B8;
	background: #F8F8EC;
	margin-top: 5px;
}

	.rich_ta_wrapper .bb_tools {
		display: block;
		visibility: visible;
		margin: .5em 1em .5em 1em;
	}

	.bb_tools a {
		border: none;
		text-decoration: none;
	}

	.bb_tools a:hover {
		border: none;
		background: #DFDFAA;
		text-decoration: none;
	}

	.bb_tools a img {
		border: 1px solid #E1E7B8;
	}

	.rich_ta_wrapper input.text {
		width: 70%;
	}

	.rich_ta_wrapper textarea {
		width: 99%;
		margin: 0px;
		height: 20em;
		overflow: auto;
	}

	.rich_ta_wrapper .post_options {
		margin: .5em 1em .5em 1em;
	}

.user_photo {
	border: 1px solid #CCC;
}

/* HOME page styles */

#home_stats {
	border: 1px solid #E1E7B8;
	padding: 2px;
}

#home_stats #messages {
	display: block;
}

#home_stats ul {
	list-style-type: none;
	margin-top: 5px;
}

#home_stats li {
	float: left;
	padding-top: 2px;
	padding-bottom: 2px;
	background: url(../images/btn_bg_outer.gif) no-repeat right top;
	margin-left: 5px;
}

#home_stats li a {
	border: none;
	background: url(../images/btn_bg_inner.gif) no-repeat left bottom;
	padding: 2px 10px 2px 10px;
	text-decoration: none;
	color: #6CA300;
	font-weight: bold;
}

#home_stats li a:hover {
	border: none;
	color: #000;
	background: url(../images/btn_bg_inner_hover.gif) no-repeat left bottom !important;
}

#home_stats li:hover {
	border: none;
	background: #9DAE3C url(../images/btn_bg_outer_hover.gif) no-repeat right top;
}

#stats_left {
	float: left;
	width: 25%;
}
#stats_right {
	float: right;
	width: 75%;
}

#stats_bottom {
	clear: both;
}

/* profile.php styles */

#profile_pic {
	float: left;
	padding: .5em;
}


/* join.php styles */

.reg_cat h3 {
	color: #fff;
	background: #6CA300;
	text-indent: 1em;
}

#reg_verif {
	padding-top: 20px;
}

.required {
	color: #f00;
}

/* blogs_addedit.php styles */



/* blogs_list.php styles */

.blog_list {
	width: 99%;
}

.blog_list th {
	padding-left: 1em;
	text-align: left;
}

.blog_list td {
	padding: 2px;
}

.blog_list .links_edit {
	width: 5%;
}

.blog_list .links_other {
	width: 20%;
}

.blog_list .date {
	width: 20%;
}


/* user_photos.php styles */

#table_album {

}

#table_album td {
	padding: .5em;
}

#table_album img {
//	border: 1px solid #ccc;
}

.photo_sett {
	clear: both;
	border-bottom: 1px dotted #CCC;
	margin-bottom: 15px;
	padding-bottom: 5px;
	padding-left: 10px;
}

.photo_sett .user_photo {
	float: left;
}

.photo_sett .fields {
	width: 70%;
}

.photo_sett .fields .label {
	width: 27%;
	text-align: right;
}

.photo_sett .fields .text {
	width: 100%;
}

/*
#photos .pager {
	width: 99%;
}
*/

.photo_comment_show .user_photo {
	float: left;
}

/* mailbox.php */

#mailbox_rows {
	width: 99%;
}

.mailbox_row td {
	padding: 4px;
	background: #F8F8F8;
	border-bottom: 1px solid #E8E8E8;
}

.mailbox_row .selector {
	width: 5px;
}

.mailbox_row .date {
	text-align: center;
}

#mailbox_rows .mailbox_row:hover td {
	background: #EEE;
}

#mailbox_rows .no_result_item {
	text-align: center;
}

.mail_not_read0 {
	background: url(../images/mail_not_read0.gif) no-repeat center;
	width: 12px;
	height: 12px;
}

.mail_read0 {
	background: url(../images/mail_read0.gif) no-repeat center;
	width: 12px;
	height: 12px;
}

.read_status {
	width: 15px;
}

#message_read #message_body {
	clear: both;
}

#message_read #actions {
	padding-left: 0px;
}

#message_read #actions li {
	display: inline;
}

#mailbox #hint li {
	display: inline;
	margin-right: 1em;
}

#mailbox #hint {
	border-bottom: 1px solid #999;
	padding: 1em;
}

/* filters.php */

#filter_rows {
	width: 99%;
}

.filter_row td {
	padding: 4px;
	background: #F8F8F8;
	border-bottom: 1px solid #E8E8E8;
}

.filter_row .selector {
	width: 5px;
}

#filter_rows .filter_row:hover td {
	background: #EEE;
}

#filter_rows .no_result_item {
	text-align: center;
}

.visible {
	visibility: visible;
}

.invisible {
	display: none;
	visibility: hidden;
}

.subscr_row {
	padding-top: 5px;
	padding-bottom: 10px;
	background: #F8F8F8;
	border-bottom: 1px solid #E8E8E8;
}

	.subscr_row .label {
		width: 22%;
		float: left;
		text-align: right;
	}

	.subscr_row .field {
		width: 75%;
		float: right;
		margin-left: 5px;
	}

	.subscr_row .field ul {
		padding: 0px;
		margin: 0px;
		list-style-type: none;
	}

	.subscr_row .field li {
		padding-bottom: 5px;
	}

















