@import url('content2.css');

.matched_word {
	color: #f00;
	font-weight: bold;
}

.postedby {
	border:1px dotted #ddd;
	background: #eee;
	margin-top: 10px;
	margin-bottom: 50px;
	padding: 5px;
	font-size: 85%;
}

.read-more {
	font-size: 85%;
}

/* LEFT MENU */

#archive li.year a.group_name {
	background: url('../images/group_minimized.gif') no-repeat top left;
	padding-left: 15px;
}

#archive li.current a.group_name {
	background: url('../images/group_maximized.gif') no-repeat top left;
}

#archive ul.months {
	margin-left: 20px;
}

#archive li.year ul.months {
	display: none;
}

#archive li.current ul.months {
	display: block;
}

