* html #requests_form .row {
	height: 1%;
}
#requests_form .row {
	overflow: hidden;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}

#requests_form .row div {
	border-left: 1px solid #DEDEDE;
	float: left;
	margin: 3px 0;
	padding: 0 2px 0 8px;
	overflow: hidden;
}

#requests_form .header {
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

#requests_form .header .control {
	padding: 0 2px 0 8px;
}

* html #requests_form .header .control input {
	float: left;
	margin-top: -4px;
}
#requests_form .header .control input {
	margin-bottom: 2px;
}

#requests_form .row .control {
	width: 40px;
	border-left: 0;
}

* html #requests_form .control input {
	margin: -3px 0 0 -4px;
}
#requests_form .control input {
	margin: 0 2px 2px 0;
}

#requests_form .row .who {
	width: 140px;
}

/* CONTROLS */

#controls {
	margin: 5px 0;
	padding-top: 10px;
	font-size: 14px;
	clear: both;
}

#controls span  {
	color: #DEDEDE;
	padding: 0 3px 0 0;
}

