/* general front-widget style */

.front-widget {
	position: relative;
	overflow: hidden;
	width: 742px;
}
	.front-widget h1, .front-widget h2 {
		padding: 0px 18px;
	}

	.front-widget .box-content {
		padding: 10px 18px 0px 18px;
	}

	.front-widget .link_more {
		position: absolute;
		top: 0;
		right: 0;
		margin: 0px 18px;
		background: url('../images/link_more.gif') no-repeat top right;
		padding: 0 25px 6px 3px;
	}

	.front-widget .link_more:hover {
		background-position: bottom right;
	}

/* Description box */

#description {
	margin: 18px 0;
	overflow: hidden;
	font-size: 14px;
}

	* html #description .description-box {
		height: 78px;
	}
	#description .description-box {
		min-height: 78px;
		float: left;
		background-position: top right;
		background-repeat: no-repeat;
	}

	#description .description-box h3 {
		margin: 0px;
		padding: 0px;
	}

	#description-search {
		width: 106px;
		padding-right: 122px;
		background-image: url('../images/description-search.gif');
	}

	#description-meet {
		width: 103px;
		padding: 0 120px 0 20px;
		background-image: url('../images/description-meet.gif');
	}

	#description-have-fun {
		width: 102px;
		padding: 0 112px 0 20px;
		background-image: url('../images/description-have-fun.gif');
	}

	#description #description-more {
		min-height: 40px;
		clear: both;
		float: none;
	}

	* html #description #description-more {
		height: 40px;
	}

	#sign-up-now {
		display: block;
		float: right;
		width: 126px;
		height: 41px;
		margin-right: -5px;
		background-image: url('../images/link-sign-up.gif');
		background-position: top;
		text-indent: -9999px;
	}

	#sign-up-now:hover {
		background-position: bottom;
	}

/* Search box */

* html #search {
	margin-top: 18px;
}
#search {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 14px;
}

	#search dl {
		overflow: hidden;
		padding-bottom: 5px;
	}

	#search dt {
		font-size: 14px;
	}

	#search dd {
		padding: 0px;
	}

		#search dd input, #search dd select, #search dd label {
			font: 12px "Trebuchet MS", Arial, sans-serif;
		}

		#search dd label {
			margin: 0 3px 0 3px;
		}

		#search .smart_table li {
			width: 37%;
		}

	#search fieldset {
		margin: 0 0 7px 0;
	}

	#search select.big_select {
		width: 100%;
	}

	* html #search fieldset.distance input {
		width: 43px;
	}

	/*zip code*/
	#row_field_50_zip select {
		width: 35px;
	}

	#row_field_50_zip input {
		width: 35px;
	}

	#row_photo dt {
		float: left;
		padding-right: 10px;
		padding-top: 2px;
	}

	* html #row_photo dt {
		padding-right: 0px;
		padding-top: 0px;
	}

	#search .controls {
		border-top: 1px dashed #ccc;
		padding-top: 15px;
		margin: 10px 0 0;
		text-align: right;
	}

	#search fieldset.controls #search-btn {
		margin-right: -5px;
	}

	#search label, #search select, #search input {
		font-family: "Trebuchet MS", Arial, sans-serif;
		font-size: 12px;
	}


/* Content - latest members section */

* html .list_small {
	margin-left: -6px;
	width: 720px;
	height: 1%;
}
.list_small {
	width: 720px;
	margin-left: -6px;
	padding: 0 0 5px;
	list-style-type: none;
	overflow: hidden;
	border-bottom: 1px dashed #ccc;
}

	.list_small li {
		float: left;
		width: 110px;
		margin-left: 10px;
		text-align: center;
	}

	.list_small li.first {
		margin: 0;
	}


/* Content - Latest blogs section */

#widget_blogs {
	margin-top: 10px;
}

* html .blogs_small {
	margin-left: -6px;
	width: 720px;
	height: 1%;
}
.blogs_small {
	width: 720px;
	margin-left: -6px;
	padding: 0 0 5px;
	list-style-type: none;
	overflow: hidden;
}

.blogs_small li {
	border-bottom: 1px dashed #ccc;
	margin-bottom: 20px;
}

.blogs_small li.last {
	border-bottom: none;
}

.blogs_small .user_photo {
	float: left;
	margin: 0 10px 10px 0;
}

.blogs_small .blog-title {
	font-size: 13px;
	margin:0;
	padding:0;
}

.blogs_small strong {
	display: block;
	font-size: 11px;
}

.blogs_small p {
	margin: 10px 0;
}

