@import url('bbcode.css');

.post_content {
	margin-bottom: 10px;
}

.post_by {
	font-size: 12px;
	color: #777;
}

.date_posted {
	font-size: 12px;
	color: #777;
}

.comment {
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px dashed #ccc;
}

.comment .user_photo {
	float: left;
	margin: 0 10px 10px 0;
}

.comment p {
	font-size: 13px;
}

textarea#comment {
	width: 50%;
	height: 140px;
}

#blogcomment_form .controls {
	padding-top: 15px;
}

.comment .controls {
	float: right;
}


/* LEFT MENU */

#archive li.year a.group_name {
	background: url('../images/group_minimized.gif') no-repeat top left;
	padding-left: 15px;
}

#archive li.current a.group_name {
	background: url('../images/group_maximized.gif') no-repeat top left;
}

#archive ul.months {
	margin-left: 20px;
}

#archive li.year ul.months {
	display: none;
}

#archive li.current ul.months {
	display: block;
}

