a.view_blog {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px 18px;
	background: url('../images/link-upload.gif') no-repeat top right;
	padding: 3px 35px 9px 3px;
	font-size: 13px;
}
a.view_blog:hover {
	background-position: bottom right;
}

* html .my_blog_posts .row {
	height: 1%;
}

.my_blog_posts .row {
	overflow: hidden;
	margin-bottom: 5px;
	border-bottom: 1px dashed #ccc;
}

.my_blog_posts .row div {
	border-left: 1px solid #DEDEDE;
	float: left;
	margin: 3px 0;
	padding: 0 2px 5px 8px;
	overflow: hidden;
}

.my_blog_posts .header {
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.my_blog_posts .row .control {
	width: 60px;
	border-left: 0;
	background-position: top right;
	background-repeat: no-repeat;
}

	a.item_edit {
		float: right;
		padding: 0 3px 0 5px;
		background: url('../images/link_edit.gif') no-repeat top center;
		width: 22px;
		height: 22px;
		display: block;
	}

	a.item_delete {
		float: left;
		background: url('../images/link_minus.gif') no-repeat top center;
		width: 22px;
		height: 22px;
		display: block;
	}

	a.item_edit:hover, a.item_delete:hover {
		background-position: bottom center;
	}

	a.item_edit i, a.item_delete i {
		display: none;
	}

.my_blog_posts .row .title {
	width: 300px;
	overflow: hidden;
}

.my_blog_posts .row .date_posted {
	width: 120px;
	overflow: hidden;
}

div.controls {
	padding-top: 15px;
	margin-top: 5px;
}
