* html .responses .row {
	height: 1%;
}

.responses .row {
	overflow: hidden;
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dashed #ccc;
	font-size: 14px;
}

.responses .row div {
	border-left: 1px solid #DEDEDE;
	float: left;
	margin: 3px 0;
	padding: 0 2px 0 8px;
	overflow: hidden;
}

.responses .header {
	font-weight: bold;
	padding-bottom: 10px;
	border-bottom: 1px solid #ccc;
}

.responses .row .control {
	width: 60px;
	border-left: 0;
}

.responses a.link_delete {
	float: left;
	width: 22px;
	height: 22px;
	display: block;
	padding: 0;
	text-indent: -9999px;
}

.responses a.link_change {
	float: right;
	width: 22px;
	height: 22px;
	display: block;
	padding: 0;
	text-indent: -9999px;
}
