.flirt_send .box-content {
	font-size: 13px;
}

.flirts_list {
	margin-top: 10px;
}

.flirts_list li {
	padding: 5px 0;
}

.flirts_list li label {
	padding-left: 5px;
	font-size: 12px;
}

#flirt_send_form .controls {
	padding-top: 15px;
	margin-top: 15px;
	border-top: 1px dashed #ccc;
}

/* LEFT MENU */

#menu_folders ul.menu li {
	border: none;
	padding: 0;
}

#menu_folders ul.menu li.controls {
	border-top: 1px dashed #ccc;
	padding-top: 10px;
	margin-top: 5px;
}

