@import url('bbcode.css');

#main_photo {
	float: left;
	display: block;
}

#widg_user_photos {
	width: 600px;
	background: none;
}

#user_photos li {
	float: left;
	height: 60px;
	width: 60px;
	margin: 0 10px;
}

#user_photos li.first {
	  margin-left: 20px;
}

#user_photos li.last {
	width: 120px;
	padding-top: 30px;
}

.profile_cat {
	padding-bottom: 10px;
}

.profile_cat h3 {
	padding-left: 0;
	padding-bottom: 5px;
	color: #3969A5;
	border-bottom: 1px dashed #ccc;
}

.profile_cat li p {
	display: inline;
}
.profile_cat li label {
	font-weight: bold;
}

#profile_area {
	width: 400px;
}

.comment {
	padding-top: 10px;
	margin-top: 20px;
	border-top: 1px dashed #ccc;
}

.comment .user_photo {
	float: left;
	margin: 0 10px 10px 0;
}

.comment p {
	font-size: 13px;
}

textarea#comment {
	width: 50%;
	height: 140px;
}

#blogcomment_form .controls {
	padding-top: 15px;
}

.comment .controls {
	float: right;
}


