#content_column1 {
	float: none;
}

form.edit_form dd {
	width:400px;
}

#subject,#email,#name {
	width:200px;
}

#message_body {
	width: 100%;
	height: 140px;
}

.edit_form .controls p {
	color:#878787;
	float:right;
	font-size:14px;
	margin:0pt;
	text-align:right;
	width:200px;
}

.edit_form .controls p span {
	color:#4383D3;
}