a.see_all {
	position: absolute;
	top: 0;
	right: 0;
	margin: 15px 18px 0 0;
	background: url('../images/link_next.gif') no-repeat top right;
	padding: 0 25px 4px 3px;
}
a.see_all:hover {
	background-position: bottom right;
}

#requests {
	margin-bottom: 20px;
}
